.card-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.card-container {
  width: 300px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #2f365f;
}

.card-container:hover {
  transition: 0.5s;
  background-color: #f7f1ed;
  box-shadow: 5px 5px 5px 0 #3d5a5b;
  cursor: pointer;
}

.price-tag {
  font-weight: bolder;
}

.button-load {
  background-color: #3d5a5b;
  color: #fff;
  padding: 10px;
  border: none;
  margin: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.button-load:hover {
  cursor: pointer;
  color: #3d5a5b;
  background-color: #ffffff;
}

.app-title {
  color: 2f365f;
  padding: 20px;
}
